body {
  background: url(../images/bg.jpg) repeat;
}

/* Red */

a {
  color: #ff004e;
}

a:hover {
  color: #ff437d;
}

/* Button */

.button {  
  background: #ff004e; /* Old browsers */
  background: -moz-linear-gradient(top, #ff004e 0%, #ff437d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff004e), color-stop(100%,#ff437d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff004e 0%,#ff437d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff004e 0%,#ff437d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff004e 0%,#ff437d 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ff004e 0%,#ff437d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff004e', endColorstr='#ff437d',GradientType=0 ); /* IE6-9 */
 border: 1px solid #ff004e;
}